body {
	background: blue;
}
#wrap {
	width: 100%;
	height: 100%;
	background: lightBlue;
}
#container {
	width: 500px;
	margin:auto;
}
h1, h2, h3, p, span, button, input {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}